<div class="row">

  <div class="col-sm-12">
    <span  class="fw-bold me-2">Tipo de Perforación:</span>
    <span>pozo</span>
  </div>

  <div class="col-sm-12">
    <span  class="fw-bold me-2">Distrito:</span>
    <span>pozo</span>
  </div>

  <div class="col-sm-12">
    <span  class="fw-bold me-2">Provincia:</span>
    <span>pozo</span>
  </div>

  <div class="col-sm-12">
    <span  class="fw-bold me-2">Codigo de Proyecto:</span>
    <span>pozo</span>
  </div>

  <div class="col-sm-12">
    <span  class="fw-bold me-2">Laboratorio:</span>
    <span>pozo</span>
  </div>

  <div class="col-sm-12">
    <span  class="fw-bold me-2">Area:</span>
    <span>pozo</span>
  </div>

</div>
