
<div class="wrapper"  id="wrapper" >

  <!-------------------------------------------
  start Page Content
  ---------------------------------------------->
  <div id="content">

    <router-outlet></router-outlet>

  </div>
  <!-------------------------------------------
  End, Page Content
  ---------------------------------------------->
</div>


<app-toasts class="ngb-toasts"
            style="bottom: 0;
    top: initial;"
            aria-live="polite"
            aria-atomic="true"></app-toasts>
