<div class="table-responsive fixTableHead" >
  <table class="table table-striped  table-bordered  table-sm mb-1 "
         [ngClass]="{'table_loader': loading$ | async  }">
    <thead>
    <tr>
      <th scope="col" sortable="codigo" (sort)="onSort($event)"><span>Codigo</span></th>
      <th scope="col" sortable="fluido" (sort)="onSort($event)"><span>Fluido</span></th>
      <th scope="col" class="text-center w-action"><span>Acciones</span></th>
    </tr>

    </thead>
    <tbody>
    <ng-container *ngIf="fluidos$ | async as fluidos">
      <tr *ngFor="let fluido of  fluidos"
          [ngClass]="{'tr__loader': fluido.codigo === fluidoEdit$.codigo}"  >
        <td><span>{{ fluido.codigo }}</span></td>
        <td><span>{{ fluido.fluido }}</span></td>

        <td >
          <div class="table-action-center">
            <a class="btn-secondary-app " (click)="_edit(fluido)">
              <i class="fas fa-edit "></i>
            </a>
            <a class="btn-cancel-app " (click)="_delete(fluido)">
              <i class="fas fa-trash"></i>
            </a>
          </div>
        </td>
      </tr>
    </ng-container>

    <tr *ngIf="(fluidos$ | async)?.length === 0" >
      <td colspan="99" class="text-center"><span>No hay registros</span></td>
    </tr>
    </tbody>
  </table>

  <ng-container *ngIf="fluidos$ | async as fluidos " >
    <ng-container *ngIf="fluidosAux$ | async as fluidosAux ">
      <app-paginado
        [items]="fluidos"
        [itemsAux]="fluidosAux"
        (itemsPaginado)="onItemsPaginado($event)"></app-paginado>
    </ng-container>
  </ng-container>
</div>


