<div class="table-responsive fixTableHead" >
  <table class="table table-striped  table-bordered  table-sm mb-1 "
         [ngClass]="{'table_loader': loading$ | async  }">
    <thead>
    <tr>
      <th scope="col" sortable="codTono" (sort)="onSort($event)"><span>codigo</span></th>
      <th scope="col" sortable="tono" (sort)="onSort($event)"><span>tono</span></th>
      <th scope="col" class="text-center w-action"><span>Acciones</span></th>
    </tr>

    </thead>
    <tbody>
    <ng-container *ngIf="tonos$ | async as tonos">
      <tr *ngFor="let tono of  tonos"
          [ngClass]="{'tr__loader': tono.codTono === tonoEdit$.codTono}"  >
        <td><span>{{ tono.codTono }}</span></td>
        <td><span>{{ tono.tono }}</span></td>

        <td >
          <div class="table-action-center">
            <a class="btn-secondary-app " (click)="_edit(tono)">
              <i class="fas fa-edit  "></i>
            </a>
            <a class="btn-cancel-app " (click)="_delete(tono)">
              <i class="fas fa-trash"></i>
            </a>
          </div>
        </td>
      </tr>
    </ng-container>

    <tr *ngIf="(tonos$ | async)?.length === 0" >
      <td colspan="99" class="text-center"><span>No hay registros</span></td>
    </tr>
    </tbody>
  </table>

  <ng-container *ngIf="tonos$ | async as tonos " >
    <ng-container *ngIf="tonosAux$ | async as tonosAux ">
      <app-paginado
        [items]="tonos"
        [itemsAux]="tonosAux"
        (itemsPaginado)="onItemsPaginado($event)"></app-paginado>
    </ng-container>
  </ng-container>
</div>


