<div class="modal-header">
  <h5 class="fw-bold text-capitalize">{{!contratosAjutesDesviaciones.codigo ? 'Crear ' : 'Editar '}}Ajustes Desviacion</h5>

  <a type="button" class="close btn-cancel-app"
     (click)="activeModal.dismiss('Canceled')">
    <i class="fas fa-times"></i></a>
</div>

<div class="modal-body">

  <div class="row">
    <div class="col-sm-12 ">
      <ngb-alert #selfClosingAlert
                 class="mb-2"
                 *ngIf="dangerMessage"
                 type="danger"
                 (closed)="dangerMessage = ''">{{ dangerMessage }}
      </ngb-alert>
    </div>
  </div>

  <form [formGroup]="contratosAjutesDesviacionesForm" #formDir="ngForm" >

    <div class="container-fluid">
      <div class="row">

        <div class="col-12 col-sm-4">

          <div class="form-group group">
            <select formControlName="categoriaCodigo"
                    [ngClass]="{ 'is-invalid': submitted && f.categoriaCodigo.errors }"
                    class="form-control input">
              <option *ngFor="let c of categoriasAjustes | async" [value]="c.codigo">{{ c.categoria}}</option>
            </select>
            <label class="text-capitalize" >categoria Codigo</label>
            <div *ngIf="submitted && f.categoriaCodigo.errors" class="invalid-feedback">
              <div *ngIf="f.categoriaCodigo.errors.required">categoria Codigo es requirido</div>
            </div>
          </div>
        </div>


        <div class="col-12 col-sm-4">
          <div class="form-group group">
            <input type="number" formControlName="distHorInicial"
                   step="0.0000000001" min="0"
                   [ngClass]="{ 'is-invalid': submitted && f.distHorInicial.errors }"
                   class="form-control input" />
            <label class="text-capitalize" > Inicio horizontal</label>
            <div *ngIf="submitted && f.distHorInicial.errors" class="invalid-feedback">
              <div *ngIf="f.distHorInicial.errors.required">Inicial  es requirido</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-4">
          <div class="form-group group">
            <input type="number" formControlName="distHorFinal"
                   step="0.0000000001" min="0"
                   [ngClass]="{ 'is-invalid': submitted && f.distHorFinal.errors }"
                   class="form-control input" />
            <label class="text-capitalize" >Final Horizontal</label>
            <div *ngIf="submitted && f.distHorFinal.errors" class="invalid-feedback">
              <div *ngIf="f.distHorFinal.errors.required">Final es requirido</div>
            </div>
          </div>
        </div>



        <div class="col-12 col-sm-4">
          <div class="form-group group">
            <input  type="number"  formControlName="profVertInicial"
                    step="0.0000000001" min="0"
                    [ngClass]="{ 'is-invalid': submitted && f.profVertInicial.errors }"
                    class="form-control input" />
            <label class="text-capitalize" >Inicial Vertical</label>
            <div *ngIf="submitted && f.profVertInicial.errors" class="invalid-feedback">
              <div *ngIf="f.profVertInicial.errors.required">Inicial es requirido</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-4">
          <div class="form-group group">
            <input  type="number"  formControlName="profVertFinal"
                    step="0.0000000001" min="0"
                    [ngClass]="{ 'is-invalid': submitted && f.profVertFinal.errors }"
                    class="form-control input" />
            <label class="text-capitalize" >Final vertical</label>
            <div *ngIf="submitted && f.profVertFinal.errors" class="invalid-feedback">
              <div *ngIf="f.profVertFinal.errors.required">Final es requirido</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-4">
          <div class="form-group group">
            <input  type="number"  formControlName="factorAjuste"
                    step="0.0000000001" min="0"
                    [ngClass]="{ 'is-invalid': submitted && f.factorAjuste.errors }"
                    class="form-control input" />
            <label class="text-capitalize" >Factor Ajuste</label>
            <div *ngIf="submitted && f.factorAjuste.errors" class="invalid-feedback">
              <div *ngIf="f.factorAjuste.errors.required">Factor Ajuste es requirido</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </form>

</div>

<div class="modal-footer ">
  <button type="button" class="btn btn-sm btn-cancel-app"
          (click)="activeModal.dismiss('Canceled')">Cancelar</button>
  <button type="button" class="btn btn-sm btn-primary-app"
          (click)="onSubmit()">Guardar cambios</button>
</div>
