<div class="modal-header">
  <h5 class="fw-bold text-capitalize">{{!descripcion.codigo ? 'Crear ' : 'Editar '}}descripcion </h5>
  <a type="button" class="close btn-cancel-app"
     (click)="activeModal.dismiss('Canceled')"><i class="fas fa-times"></i></a>
</div>

<div class="modal-body">
  <form [formGroup]="descripcionForm" #formDir="ngForm" >

    <div class="container-fluid">
      <div class="row">

        <div class="col-12 col-sm-4">
          <div class="form-group group">
            <input type="text" formControlName="codigo"
                   [ngClass]="{ 'is-invalid': submitted && f.codigo.errors }"
                   class="form-control input" />
            <label class="text-capitalize" >Codigo</label>
            <div *ngIf="submitted && f.codigo.errors" class="invalid-feedback">
              <div *ngIf="f.codigo.errors.required">Codigo es requirido</div>
              <div *ngIf="f.codigo.errors.minlength">Debe tener al menos {{f.codigo.errors.minlength.requiredLength}} caracteres.</div>
              <div *ngIf="f.codigo.errors.maxlength">Debe tener maximo {{f.codigo.errors.maxlength.requiredLength}} caracteres.</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-8">
          <div class="form-group group">
            <input type="text" formControlName="descripcion"
                   [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }"
                   class="form-control input" />
            <label class="text-capitalize" >Descripcion</label>
            <div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
              <div *ngIf="f.descripcion.errors.required">Descripcion es requirido</div>
              <div *ngIf="f.descripcion.errors.minlength">Debe tener al menos {{f.descripcion.errors.minlength.requiredLength}} caracteres.</div>
              <div *ngIf="f.descripcion.errors.maxlength">Debe tener maximo {{f.descripcion.errors.maxlength.requiredLength}} caracteres.</div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </form>
</div>


<div class="modal-footer ">
  <button type="button" class="btn btn-sm btn-cancel-app"
          (click)="activeModal.dismiss('Canceled')">Cancelar</button>
  <button type="button" class="btn btn-sm btn-primary-app"
        (click)="onSubmit()">Guardar cambios</button>
</div>
