<div class="modal-header">
  <h5 class="fw-bold text-capitalize">{{!contratosRegistro.codigo ? 'Crear ' : 'Editar '}}Contratos Registro</h5>
  <a type="button" class="close btn-cancel-app"
      (click)="activeModal.dismiss('Canceled')">
    <i class="fas fa-times"></i></a>
</div>

<div class="modal-body">
  <form [formGroup]="contratosRegistroForm" #formDir="ngForm" >

    <div class="container-fluid">
      <div class="row">

        <div class="col-12 col-sm-4">
          <div class="form-group group">
            <input type="text" formControlName="codigo"
                   [ngClass]="{ 'is-invalid': submitted && f.codigo.errors }"
                   class="form-control input" />
            <label class="text-capitalize" >Codigo</label>
            <div *ngIf="submitted && f.codigo.errors" class="invalid-feedback">
              <div *ngIf="f.codigo.errors.required">codigo es requirido</div>
              <div *ngIf="f.codigo.errors.minlength">Debe tener al menos {{f.codigo.errors.minlength.requiredLength}} caracteres.</div>
              <div *ngIf="f.codigo.errors.maxlength">Debe tener maximo {{f.codigo.errors.maxlength.requiredLength}} caracteres.</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-8">
          <div class="form-group group">
            <input type="text" formControlName="descripcion"
                   [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }"
                   class="form-control input" />
            <label class="text-capitalize" >descripcion</label>
            <div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
              <div *ngIf="f.descripcion.errors.required">Buzamiento Promedio es requirido</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-4">
          <div class="form-group group">

            <div class="input-group">
              <input class="form-control input" placeholder="yyyy-mm-dd"
                     style="left: 0;"
                     [minDate]="{year: 1900, month: 1, day: 1}"
                     [maxDate]="{year: 3000, month: 12, day: 31}"
                     name="dp" formControlName="fechaCreacion"   ngbDatepicker #d="ngbDatepicker">

              <label class="text-capitalize" >fecha Creacion</label>

              <button class="btn btn-secondary-app" (click)="d.toggle()" type="button">
                <i class="fas fa-calendar"></i>
              </button>
            </div>

            <div *ngIf="submitted && f.fechaCreacion.errors" class="invalid-feedback">
              <div  *ngIf="f.fechaCreacion.errors.required">fechaCreacion es requirido</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-4">
          <div class="form-group group">
            <input type="number" formControlName="cargoBasico"
                   [ngClass]="{ 'is-invalid': submitted && f.cargoBasico.errors }"
                   class="form-control input" />
            <label class="text-capitalize" >pozo Desviado</label>
            <div *ngIf="submitted && f.cargoBasico.errors" class="invalid-feedback">
              <div   *ngIf="f.cargoBasico.errors.required">Pozo Desviado es requirido</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>


<div class="modal-footer ">
  <button type="button" class="btn btn-sm btn-cancel-app"
          (click)="activeModal.dismiss('Canceled')">Cancelar</button>
  <button type="button" class="btn btn-sm btn-primary-app"
          (click)="onSubmit()">Guardar cambios</button>
</div>
