<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

  <ng-container>
    <!--    menu sin accion-->
    <li class="nav-item">
      <a
        class="nav-link align-middle px-0">
        <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
      </a>
    </li>
    <!--    menu sin accion-->
  </ng-container>


  <ng-container>
    <!--   menu accion-->
    <li>
      <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
        <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
      <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
        <li class="w-100">
          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
        </li>
        <li>
          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
        </li>
        <li class="w-100">
          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
        </li>
        <li>
          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
        </li>
        <li class="w-100">
          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
        </li>
        <li>
          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
        </li>
        <li class="w-100">
          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
        </li>
        <li>
          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
        </li>
        <li class="w-100">
          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
        </li>
        <li>
          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
        </li>
        <li class="w-100">
          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
        </li>
        <li>
          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
        </li>

      </ul>
    </li>
  </ng-container>
</ul>
